body {
  background-color: #3c3e3e;
}

.el-menu.navbar {
  background-color: #313131 !important;
}

.el-card {
  background-color: #131313 !important;
  color: #bbb !important;
  border-color: #78797b !important;
}
.el-card__header {
  border-bottom-color: #78797b !important;
}
